# Индексирование и фильтрация таблиц

# Вымышленные армейские полки

### Шаг 1. Импортируем библиотеки

In [43]:
import pandas as pd 
import numpy as np

### Шаг 2. В этот раз данные в виде словаря

In [44]:
raw_data = {'regiment': ['Nighthawks', 'Nighthawks', 'Nighthawks', 'Nighthawks', 'Dragoons', 'Dragoons', 'Dragoons', 'Dragoons', 'Scouts', 'Scouts', 'Scouts', 'Scouts'],
            'company': ['1st', '1st', '2nd', '2nd', '1st', '1st', '2nd', '2nd','1st', '1st', '2nd', '2nd'],
            'deaths': [523, 52, 25, 616, 43, 234, 523, 62, 62, 73, 37, 35],
            'battles': [5, 42, 2, 2, 4, 7, 8, 3, 4, 7, 8, 9],
            'size': [1045, 957, 1099, 1400, 1592, 1006, 987, 849, 973, 1005, 1099, 1523],
            'veterans': [1, 5, 62, 26, 73, 37, 949, 48, 48, 435, 63, 345],
            'readiness': [1, 2, 3, 3, 2, 1, 2, 3, 2, 1, 2, 3],
            'armored': [1, 0, 1, 1, 0, 1, 0, 1, 0, 0, 1, 1],
            'deserters': [4, 24, 31, 2, 3, 4, 24, 31, 2, 3, 2, 3],
            'origin': ['Arizona', 'California', 'Texas', 'Florida', 'Maine', 'Iowa', 'Alaska', 'Washington', 'Oregon', 'Wyoming', 'Louisana', 'Georgia']}

### Шаг 3. Создайте датафрейм army из словаря

#### Не забудьте представить колонки в том же виде, в котором они идут в предыдущей клетке. Если не задать порядок, pandas поставит колонки в алфавитном порядке.

In [45]:
army = pd.DataFrame(raw_data, columns=[
    'regiment', 'company', 'deaths', 'battles', 
    'size', 'veterans', 'readiness', 'armored', 
    'deserters', 'origin'
])

### Шаг 4. Задайте колонку origin в качестве индекса

In [47]:
army.set_index('origin', drop=False, inplace=True)
print(army)

              regiment company  deaths  battles  size  veterans  readiness  \
origin
Arizona     Nighthawks     1st     523        5  1045         1          1
California  Nighthawks     1st      52       42   957         5          2
Texas       Nighthawks     2nd      25        2  1099        62          3
Florida     Nighthawks     2nd     616        2  1400        26          3
Maine         Dragoons     1st      43        4  1592        73          2
Iowa          Dragoons     1st     234        7  1006        37          1
Alaska        Dragoons     2nd     523        8   987       949          2
Washington    Dragoons     2nd      62        3   849        48          3
Oregon          Scouts     1st      62        4   973        48          2
Wyoming         Scouts     1st      73        7  1005       435          1
Louisana        Scouts     2nd      37        8  1099        63          2
Georgia         Scouts     2nd      35        9  1523       345          3

            armored  deserters      origin
origin
Arizona           1          4     Arizona
California        0         24  California
Texas             1         31       Texas
Florida           1          2     Florida
Maine             0          3       Maine
Iowa              1          4        Iowa
Alaska            0         24      Alaska
Washington        1         31  Washington
Oregon            0          2      Oregon
Wyoming           0          3     Wyoming
Louisana          1          2    Louisana
Georgia           1          3     Georgia

### Шаг 5. Отсортируйте датафрейм по индексу

In [48]:
army_sorted = army.sort_index()
print(army_sorted)

              regiment company  deaths  battles  size  veterans  readiness  \
origin
Alaska        Dragoons     2nd     523        8   987       949          2
Arizona     Nighthawks     1st     523        5  1045         1          1
California  Nighthawks     1st      52       42   957         5          2
Florida     Nighthawks     2nd     616        2  1400        26          3
Georgia         Scouts     2nd      35        9  1523       345          3
Iowa          Dragoons     1st     234        7  1006        37          1
Louisana        Scouts     2nd      37        8  1099        63          2
Maine         Dragoons     1st      43        4  1592        73          2
Oregon          Scouts     1st      62        4   973        48          2
Texas       Nighthawks     2nd      25        2  1099        62          3
Washington    Dragoons     2nd      62        3   849        48          3
Wyoming         Scouts     1st      73        7  1005       435          1

            armored  deserters      origin
origin
Alaska            0         24      Alaska
Arizona           1          4     Arizona
California        0         24  California
Florida           1          2     Florida
Georgia           1          3     Georgia
Iowa              1          4        Iowa
Louisana          1          2    Louisana
Maine             0          3       Maine
Oregon            0          2      Oregon
Texas             1         31       Texas
Washington        1         31  Washington
Wyoming           0          3     Wyoming

### Шаг 6. Выведите только колонку veterans

In [24]:
veterans_colomn = army['veterans']
print(veterans_colomn)

origin
Arizona         1
California      5
Texas          62
Florida        26
Maine          73
Iowa           37
Alaska        949
Washington     48
Oregon         48
Wyoming       435
Louisana       63
Georgia       345
Name: veterans, dtype: int64

### Шаг 7. Выведите только колонки veterans и deaths

In [49]:
veterans_colomn = army['veterans']
deaths_colomn = army['deaths']
print(veterans_colomn)
print(deaths_colomn)

origin
Arizona         1
California      5
Texas          62
Florida        26
Maine          73
Iowa           37
Alaska        949
Washington     48
Oregon         48
Wyoming       435
Louisana       63
Georgia       345
Name: veterans, dtype: int64
origin
Arizona       523
California     52
Texas          25
Florida       616
Maine          43
Iowa          234
Alaska        523
Washington     62
Oregon         62
Wyoming        73
Louisana       37
Georgia        35
Name: deaths, dtype: int64

### Шаг 8. Выведите названия всех колонок

In [50]:
colomns = army.columns
print(colomns)

Index(['regiment', 'company', 'deaths', 'battles', 'size', 'veterans',
       'readiness', 'armored', 'deserters', 'origin'],
      dtype='object')

### Шаг 9. Выведите значения колонок deaths, size, deserters по штатам Maine и Alaska

In [52]:
filtered_data = army[army['origin'].isin(['Maine', 'Alaska'])][['origin', 'deaths', 'size', 'deserters']]

print(filtered_data)

        origin  deaths  size  deserters
origin
Maine    Maine      43  1592          3
Alaska  Alaska     523   987         24

### Шаг 10. Выведите строки 3-7 и колонки 3-6

In [28]:
print(army.iloc[3:8, 2:6])

            deaths  battles  size  veterans
origin
Florida        616        2  1400        26
Maine           43        4  1592        73
Iowa           234        7  1006        37
Alaska         523        8   987       949
Washington      62        3   849        48

### Шаг 11. Выведите все строки, начиная с 5й

In [29]:
print(army.iloc[4:])

            regiment company  deaths  battles  size  veterans  readiness  \
origin
Maine       Dragoons     1st      43        4  1592        73          2
Iowa        Dragoons     1st     234        7  1006        37          1
Alaska      Dragoons     2nd     523        8   987       949          2
Washington  Dragoons     2nd      62        3   849        48          3
Oregon        Scouts     1st      62        4   973        48          2
Wyoming       Scouts     1st      73        7  1005       435          1
Louisana      Scouts     2nd      37        8  1099        63          2
Georgia       Scouts     2nd      35        9  1523       345          3

            armored  deserters
origin
Maine             0          3
Iowa              1          4
Alaska            0         24
Washington        1         31
Oregon            0          2
Wyoming           0          3
Louisana          1          2
Georgia           1          3

### Шаг 12. Выведите все строки до 4й

In [30]:
print(army.iloc[:4])

              regiment company  deaths  battles  size  veterans  readiness  \
origin
Arizona     Nighthawks     1st     523        5  1045         1          1
California  Nighthawks     1st      52       42   957         5          2
Texas       Nighthawks     2nd      25        2  1099        62          3
Florida     Nighthawks     2nd     616        2  1400        26          3

            armored  deserters
origin
Arizona           1          4
California        0         24
Texas             1         31
Florida           1          2

### Шаг 13. Выведите все колонки с 3й по 7ю.

In [31]:
print(army.iloc[:, 2:7])

            deaths  battles  size  veterans  readiness
origin
Arizona        523        5  1045         1          1
California      52       42   957         5          2
Texas           25        2  1099        62          3
Florida        616        2  1400        26          3
Maine           43        4  1592        73          2
Iowa           234        7  1006        37          1
Alaska         523        8   987       949          2
Washington      62        3   849        48          3
Oregon          62        4   973        48          2
Wyoming         73        7  1005       435          1
Louisana        37        8  1099        63          2
Georgia         35        9  1523       345          3

### Шаг 14. Выведите все полки с не менее 50 погибших

In [33]:
print(army[army['deaths'] >= 50])

              regiment company  deaths  battles  size  veterans  readiness  \
origin
Arizona     Nighthawks     1st     523        5  1045         1          1
California  Nighthawks     1st      52       42   957         5          2
Florida     Nighthawks     2nd     616        2  1400        26          3
Iowa          Dragoons     1st     234        7  1006        37          1
Alaska        Dragoons     2nd     523        8   987       949          2
Washington    Dragoons     2nd      62        3   849        48          3
Oregon          Scouts     1st      62        4   973        48          2
Wyoming         Scouts     1st      73        7  1005       435          1

            armored  deserters
origin
Arizona           1          4
California        0         24
Florida           1          2
Iowa              1          4
Alaska            0         24
Washington        1         31
Oregon            0          2
Wyoming           0          3

### Шаг 15. Выведите все полки, где было больше 500 или меньше 50 погибших

In [36]:
filter_deaths = army[(army['deaths'] > 500) | (army['deaths'] < 50)]

print(filter_deaths)

            regiment company  deaths  battles  size  veterans  readiness  \
origin
Arizona   Nighthawks     1st     523        5  1045         1          1
Texas     Nighthawks     2nd      25        2  1099        62          3
Florida   Nighthawks     2nd     616        2  1400        26          3
Maine       Dragoons     1st      43        4  1592        73          2
Alaska      Dragoons     2nd     523        8   987       949          2
Louisana      Scouts     2nd      37        8  1099        63          2
Georgia       Scouts     2nd      35        9  1523       345          3

          armored  deserters
origin
Arizona         1          4
Texas           1         31
Florida         1          2
Maine           0          3
Alaska          0         24
Louisana        1          2
Georgia         1          3

### Шаг 16. Выведите все полки, не называющиеся "Dragoons"

In [38]:
print(army[army['regiment'] != 'Dragoons'])

              regiment company  deaths  battles  size  veterans  readiness  \
origin
Arizona     Nighthawks     1st     523        5  1045         1          1
California  Nighthawks     1st      52       42   957         5          2
Texas       Nighthawks     2nd      25        2  1099        62          3
Florida     Nighthawks     2nd     616        2  1400        26          3
Oregon          Scouts     1st      62        4   973        48          2
Wyoming         Scouts     1st      73        7  1005       435          1
Louisana        Scouts     2nd      37        8  1099        63          2
Georgia         Scouts     2nd      35        9  1523       345          3

            armored  deserters
origin
Arizona           1          4
California        0         24
Texas             1         31
Florida           1          2
Oregon            0          2
Wyoming           0          3
Louisana          1          2
Georgia           1          3

### Шаг 17. Выведите строки Texas и Arizona

In [53]:
print(army[army['origin'].isin(['Texas', 'Arizona'])])

           regiment company  deaths  battles  size  veterans  readiness  \
origin
Arizona  Nighthawks     1st     523        5  1045         1          1
Texas    Nighthawks     2nd      25        2  1099        62          3

         armored  deserters   origin
origin
Arizona        1          4  Arizona
Texas          1         31    Texas

### Шаг 18. Выведите 3ю колонку в строке Arizona

In [54]:
arizona_row = army[army['origin'] == 'Arizona']
print(arizona_row.iloc[0, 2])

523

### Шаг 19. Выведите 3ю строку в колонке deaths

In [55]:
print(army['deaths'].iloc[2])

25