# Настройки интерфейса - Функции - Кодирование признаков

# Потребление алкоголя студентами

### Шаг 1. Импортируем библиотеки.

In [103]:
import pandas as pd 
import numpy as np

### Шаг 2. Читаем датасет и записываем его в переменную df.

In [104]:
# файл student-mat.pkl в папке datasets

df = pd.read_pickle('/home/vlad/ds/pandas/datasets/student-mat.pkl')


print(df.head())

  school sex  age address famsize Pstatus  Medu  Fedu     Mjob      Fjob  \
0     GP   F   18       U     GT3       A     4     4  at_home   teacher
1     GP   F   17       U     GT3       T     1     1  at_home     other
2     GP   F   15       U     LE3       T     1     1  at_home     other
3     GP   F   15       U     GT3       T     4     2   health  services
4     GP   F   16       U     GT3       T     3     3    other     other

   reason guardian  traveltime  studytime  failures schoolsup famsup paid  \
0  course   mother           2          2         0       yes     no   no
1  course   father           1          2         0        no    yes   no
2   other   mother           1          2         3       yes     no  yes
3    home   mother           1          3         0        no    yes  yes
4    home   father           1          2         0        no    yes  yes

  activities nursery higher internet romantic  famrel  freetime  goout  Dalc  \
0         no     yes    yes       no       no       4         3      4     1
1         no      no    yes      yes       no       5         3      3     1
2         no     yes    yes      yes       no       4         3      2     2
3        yes     yes    yes      yes      yes       3         2      2     1
4         no     yes    yes       no       no       4         3      2     1

   Walc  health  absences  G1  G2  G3
0     1       3         6   5   6   6
1     1       3         4   5   5   6
2     3       3        10   7   8  10
3     1       5         2  15  14  15
4     2       5         4   6  10  10

### Шаг 3. Смотрим первые 3 строки
Кажется отображаются не все столбцы

In [105]:
pd.set_option('display.max_columns', None)
print(df.head(3))

  school sex  age address famsize Pstatus  Medu  Fedu     Mjob     Fjob  \
0     GP   F   18       U     GT3       A     4     4  at_home  teacher
1     GP   F   17       U     GT3       T     1     1  at_home    other
2     GP   F   15       U     LE3       T     1     1  at_home    other

   reason guardian  traveltime  studytime  failures schoolsup famsup paid  \
0  course   mother           2          2         0       yes     no   no
1  course   father           1          2         0        no    yes   no
2   other   mother           1          2         3       yes     no  yes

  activities nursery higher internet romantic  famrel  freetime  goout  Dalc  \
0         no     yes    yes       no       no       4         3      4     1
1         no      no    yes      yes       no       5         3      3     1
2         no     yes    yes      yes       no       4         3      2     2

   Walc  health  absences  G1  G2  G3
0     1       3         6   5   6   6
1     1       3         4   5   5   6
2     3       3        10   7   8  10

### Шаг 4. Измени настройки интерфейса - добавь возможность вывода всех столбцов на экран
https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.set_option.html#pandas.set_option

In [106]:
pd.set_option('display.max_columns', None)
print(df.head())

  school sex  age address famsize Pstatus  Medu  Fedu     Mjob      Fjob  \
0     GP   F   18       U     GT3       A     4     4  at_home   teacher
1     GP   F   17       U     GT3       T     1     1  at_home     other
2     GP   F   15       U     LE3       T     1     1  at_home     other
3     GP   F   15       U     GT3       T     4     2   health  services
4     GP   F   16       U     GT3       T     3     3    other     other

   reason guardian  traveltime  studytime  failures schoolsup famsup paid  \
0  course   mother           2          2         0       yes     no   no
1  course   father           1          2         0        no    yes   no
2   other   mother           1          2         3       yes     no  yes
3    home   mother           1          3         0        no    yes  yes
4    home   father           1          2         0        no    yes  yes

  activities nursery higher internet romantic  famrel  freetime  goout  Dalc  \
0         no     yes    yes       no       no       4         3      4     1
1         no      no    yes      yes       no       5         3      3     1
2         no     yes    yes      yes       no       4         3      2     2
3        yes     yes    yes      yes      yes       3         2      2     1
4         no     yes    yes       no       no       4         3      2     1

   Walc  health  absences  G1  G2  G3
0     1       3         6   5   6   6
1     1       3         4   5   5   6
2     3       3        10   7   8  10
3     1       5         2  15  14  15
4     2       5         4   6  10  10

### Шаг 5. Для этого задания оставьте только колонки между 'school' и 'studytime' включительно.

In [107]:
filtered_df = df.loc[:, 'school':'studytime']
print(df.head())

  school sex  age address famsize Pstatus  Medu  Fedu     Mjob      Fjob  \
0     GP   F   18       U     GT3       A     4     4  at_home   teacher
1     GP   F   17       U     GT3       T     1     1  at_home     other
2     GP   F   15       U     LE3       T     1     1  at_home     other
3     GP   F   15       U     GT3       T     4     2   health  services
4     GP   F   16       U     GT3       T     3     3    other     other

   reason guardian  traveltime  studytime  failures schoolsup famsup paid  \
0  course   mother           2          2         0       yes     no   no
1  course   father           1          2         0        no    yes   no
2   other   mother           1          2         3       yes     no  yes
3    home   mother           1          3         0        no    yes  yes
4    home   father           1          2         0        no    yes  yes

  activities nursery higher internet romantic  famrel  freetime  goout  Dalc  \
0         no     yes    yes       no       no       4         3      4     1
1         no      no    yes      yes       no       5         3      3     1
2         no     yes    yes      yes       no       4         3      2     2
3        yes     yes    yes      yes      yes       3         2      2     1
4         no     yes    yes       no       no       4         3      2     1

   Walc  health  absences  G1  G2  G3
0     1       3         6   5   6   6
1     1       3         4   5   5   6
2     3       3        10   7   8  10
3     1       5         2  15  14  15
4     2       5         4   6  10  10

### Шаг 6. Напишите лямбду, которая применяет capitalize к строкам.

In [108]:
string_columns = df.select_dtypes(include=['object']).columns
df[string_columns] = df[string_columns].apply(lambda x: x.str.capitalize())
print(df.head(3))

  school sex  age address famsize Pstatus  Medu  Fedu     Mjob     Fjob  \
0     Gp   F   18       U     Gt3       A     4     4  At_home  Teacher
1     Gp   F   17       U     Gt3       T     1     1  At_home    Other
2     Gp   F   15       U     Le3       T     1     1  At_home    Other

   reason guardian  traveltime  studytime  failures schoolsup famsup paid  \
0  Course   Mother           2          2         0       Yes     No   No
1  Course   Father           1          2         0        No    Yes   No
2   Other   Mother           1          2         3       Yes     No  Yes

  activities nursery higher internet romantic  famrel  freetime  goout  Dalc  \
0         No     Yes    Yes       No       No       4         3      4     1
1         No      No    Yes      Yes       No       5         3      3     1
2         No     Yes    Yes      Yes       No       4         3      2     2

   Walc  health  absences  G1  G2  G3
0     1       3         6   5   6   6
1     1       3         4   5   5   6
2     3       3        10   7   8  10

### Шаг 7. Примените эту лямбду к Mjob и Fjob

In [109]:
df['Mjob'] = df['Mjob'].apply(lambda x: x.upper())
df['Fjob'] = df['Fjob'].apply(lambda x: x.upper())
print(df.head(3))

  school sex  age address famsize Pstatus  Medu  Fedu     Mjob     Fjob  \
0     Gp   F   18       U     Gt3       A     4     4  AT_HOME  TEACHER
1     Gp   F   17       U     Gt3       T     1     1  AT_HOME    OTHER
2     Gp   F   15       U     Le3       T     1     1  AT_HOME    OTHER

   reason guardian  traveltime  studytime  failures schoolsup famsup paid  \
0  Course   Mother           2          2         0       Yes     No   No
1  Course   Father           1          2         0        No    Yes   No
2   Other   Mother           1          2         3       Yes     No  Yes

  activities nursery higher internet romantic  famrel  freetime  goout  Dalc  \
0         No     Yes    Yes       No       No       4         3      4     1
1         No      No    Yes      Yes       No       5         3      3     1
2         No     Yes    Yes      Yes       No       4         3      2     2

   Walc  health  absences  G1  G2  G3
0     1       3         6   5   6   6
1     1       3         4   5   5   6
2     3       3        10   7   8  10

### Шаг 8. Напишите функцию, которая находит общее время потраченное студентом
##### если это школа GP, то не учитывай время поездки

In [110]:
def calculate_all_time(row):
    
    if row['school'] == 'GP':
        return row['studytime'] + row['freetime']
    else:
        return row['studytime'] + row['freetime'] + row['traveltime']

### Шаг 9. Создайте новый столбец all_time используя функцию из прошлого шага
Используй метод apply

In [111]:
df['all_time'] = df.apply(calculate_all_time, axis=1)

print(df[['school', 'studytime', 'freetime', 'traveltime', 'all_time']])

    school  studytime  freetime  traveltime  all_time
0       Gp          2         3           2         7
1       Gp          2         3           1         6
2       Gp          2         3           1         6
3       Gp          3         2           1         6
4       Gp          2         3           1         6
5       Gp          2         4           1         7
6       Gp          2         4           1         7
7       Gp          2         1           2         5
8       Gp          2         2           1         5
9       Gp          2         5           1         8
10      Gp          2         3           1         6
11      Gp          3         2           3         8
12      Gp          1         3           1         5
13      Gp          2         4           2         8
14      Gp          3         5           1         9
15      Gp          1         4           1         6
16      Gp          3         2           1         6
17      Gp          2         3           3         8
18      Gp          1         5           1         7
19      Gp          1         1           1         3
20      Gp          2         4           1         7
21      Gp          1         4           1         6
22      Gp          2         5           1         8
23      Gp          2         4           2         8
24      Gp          3         3           1         7
25      Gp          1         2           1         4
26      Gp          1         2           1         4
27      Gp          1         2           1         4
28      Gp          2         3           1         6
29      Gp          2         4           1         7
30      Gp          2         4           1         7
31      Gp          2         3           2         7
32      Gp          2         5           1         8
33      Gp          2         3           1         6
34      Gp          1         4           1         6
35      Gp          1         5           2         8
36      Gp          3         4           1         8
37      Gp          3         4           2         9
38      Gp          3         3           1         7
39      Gp          1         3           1         5
40      Gp          2         3           2         7
41      Gp          1         4           1         6
42      Gp          2         3           1         6
43      Gp          1         4           1         6
44      Gp          2         3           2         7
45      Gp          2         2           1         5
46      Gp          2         3           1         6
47      Gp          4         2           1         7
48      Gp          2         3           1         6
49      Gp          2         4           1         7
50      Gp          2         3           3         8
51      Gp          2         3           1         6
52      Gp          1         5           2         8
53      Gp          1         3           1         5
54      Gp          1         3           1         5
55      Gp          2         3           1         6
56      Gp          2         3           1         6
57      Gp          2         2           1         5
58      Gp          2         3           1         6
59      Gp          2         2           1         5
60      Gp          2         4           1         7
61      Gp          1         5           4        10
62      Gp          2         4           1         7
63      Gp          3         4           1         8
64      Gp          2         4           1         7
65      Gp          2         4           3         9
66      Gp          4         3           1         8
67      Gp          4         3           1         8
68      Gp          2         1           2         5
69      Gp          4         4           2        10
70      Gp          4         3           2         9
71      Gp          4         3           1         8
72      Gp          2         3           1         6
73      Gp          1         3           1         5
74      Gp          2         3           1         6
75      Gp          2         3           1         6
76      Gp          4         4           2        10
77      Gp          4         2           1         7
78      Gp          1         5           2         8
79      Gp          2         4           1         7
80      Gp          1         2           1         4
81      Gp          3         3           1         7
82      Gp          2         4           1         7
83      Gp          2         3           2         7
84      Gp          2         3           1         6
85      Gp          2         4           2         8
86      Gp          2         3           1         6
87      Gp          3         3           1         7
88      Gp          2         4           2         8
89      Gp          2         1           1         4
90      Gp          3         3           1         7
91      Gp          1         5           1         7
92      Gp          2         3           1         6
93      Gp          2         3           2         7
94      Gp          4         3           1         8
95      Gp          4         1           2         7
96      Gp          1         3           2         6
97      Gp          2         3           1         6
98      Gp          1         3           1         5
99      Gp          3         3           1         7
100     Gp          1         5           1         7
101     Gp          3         4           1         8
102     Gp          1         3           1         5
103     Gp          2         3           2         7
104     Gp          2         4           1         7
105     Gp          4         3           1         8
106     Gp          4         1           1         6
107     Gp          3         3           1         7
108     Gp          4         3           4        11
109     Gp          3         4           1         8
110     Gp          1         5           1         7
111     Gp          3         1           1         5
112     Gp          2         1           1         4
113     Gp          1         5           1         7
114     Gp          2         4           1         7
115     Gp          2         4           1         7
116     Gp          2         4           2         8
117     Gp          1         4           2         7
118     Gp          2         2           3         7
119     Gp          1         4           1         6
120     Gp          2         2           1         5
121     Gp          4         5           1        10
122     Gp          2         2           2         6
123     Gp          1         4           1         6
124     Gp          2         4           1         7
125     Gp          1         5           1         7
126     Gp          2         3           1         6
127     Gp          2         4           1         7
128     Gp          1         3           1         5
129     Gp          1         5           1         7
130     Gp          3         2           2         7
131     Gp          1         3           3         7
132     Gp          1         4           1         6
133     Gp          1         2           1         4
134     Gp          2         3           4         9
135     Gp          3         3           1         7
136     Gp          2         4           3         9
137     Gp          1         3           2         6
138     Gp          2         4           1         7
139     Gp          1         3           2         6
140     Gp          4         2           2         8
141     Gp          1         3           2         6
142     Gp          3         2           1         6
143     Gp          1         4           1         6
144     Gp          1         4           1         6
145     Gp          2         4           1         7
146     Gp          2         3           1         6
147     Gp          2         3           1         6
148     Gp          1         3           1         5
149     Gp          1         5           4        10
150     Gp          1         3           1         5
151     Gp          1         4           1         6
152     Gp          3         2           2         7
153     Gp          1         5           1         7
154     Gp          1         2           1         4
155     Gp          2         4           1         7
156     Gp          1         2           1         4
157     Gp          1         2           3         6
158     Gp          1         2           3         6
159     Gp          2         5           1         8
160     Gp          1         3           2         6
161     Gp          2         4           2         8
162     Gp          1         4           2         7
163     Gp          1         3           1         5
164     Gp          2         3           4         9
165     Gp          1         5           2         8
166     Gp          2         3           1         6
167     Gp          2         2           1         5
168     Gp          2         1           1         4
169     Gp          2         4           1         7
170     Gp          1         4           3         8
171     Gp          2         3           2         7
172     Gp          2         4           1         7
173     Gp          2         3           1         6
174     Gp          2         4           2         8
175     Gp          2         4           2         8
176     Gp          2         4           2         8
177     Gp          2         3           1         6
178     Gp          1         3           1         5
179     Gp          2         2           1         5
180     Gp          2         4           1         7
181     Gp          2         2           1         5
182     Gp          2         4           1         7
183     Gp          2         3           1         6
184     Gp          2         2           1         5
185     Gp          2         3           1         6
186     Gp          1         3           1         5
187     Gp          2         2           1         5
188     Gp          2         3           1         6
189     Gp          2         1           1         4
190     Gp          2         3           1         6
191     Gp          2         3           1         6
192     Gp          2         4           2         8
193     Gp          1         3           1         5
194     Gp          1         3           2         6
195     Gp          2         3           1         6
196     Gp          1         2           1         4
197     Gp          1         3           3         7
198     Gp          1         2           2         5
199     Gp          2         5           1         8
200     Gp          2         3           1         6
201     Gp          2         4           1         7
202     Gp          2         4           1         7
203     Gp          1         3           1         5
204     Gp          4         3           2         9
205     Gp          3         4           1         8
206     Gp          2         3           1         6
207     Gp          2         3           1         6
208     Gp          1         3           2         6
209     Gp          3         4           2         9
210     Gp          4         3           1         8
211     Gp          2         3           1         6
212     Gp          2         3           1         6
213     Gp          2         4           1         7
214     Gp          1         2           1         4
215     Gp          2         4           2         8
216     Gp          2         4           1         7
217     Gp          2         2           1         5
218     Gp          1         3           2         6
219     Gp          3         3           1         7
220     Gp          2         2           2         6
221     Gp          3         3           1         7
222     Gp          2         3           1         6
223     Gp          2         3           2         7
224     Gp          3         3           1         7
225     Gp          2         3           1         6
226     Gp          2         3           1         6
227     Gp          2         3           1         6
228     Gp          2         3           4         9
229     Gp          3         2           2         7
230     Gp          2         2           1         5
231     Gp          2         5           2         9
232     Gp          2         5           1         8
233     Gp          2         2           1         5
234     Gp          2         4           2         8
235     Gp          3         3           2         8
236     Gp          2         4           1         7
237     Gp          1         5           1         7
238     Gp          2         1           3         6
239     Gp          2         5           1         8
240     Gp          2         5           2         9
241     Gp          2         3           2         7
242     Gp          1         4           1         6
243     Gp          1         3           1         5
244     Gp          3         4           2         9
245     Gp          1         3           3         7
246     Gp          1         2           2         5
247     Gp          1         4           1         6
248     Gp          2         3           1         6
249     Gp          1         3           1         5
250     Gp          1         4           2         7
251     Gp          2         3           3         8
252     Gp          1         2           1         4
253     Gp          1         3           2         6
254     Gp          1         4           1         6
255     Gp          1         4           2         7
256     Gp          4         2           1         7
257     Gp          2         3           1         6
258     Gp          2         2           1         5
259     Gp          4         4           1         9
260     Gp          2         1           1         4
261     Gp          2         3           1         6
262     Gp          3         3           1         7
263     Gp          3         2           1         6
264     Gp          3         3           1         7
265     Gp          2         2           2         6
266     Gp          2         4           1         7
267     Gp          2         3           2         7
268     Gp          2         4           1         7
269     Gp          2         3           2         7
270     Gp          2         3           1         6
271     Gp          4         5           1        10
272     Gp          2         4           2         8
273     Gp          2         5           1         8
274     Gp          2         3           2         7
275     Gp          2         4           2         8
276     Gp          2         1           2         5
277     Gp          1         2           2         5
278     Gp          2         4           1         7
279     Gp          1         2           2         5
280     Gp          1         5           2         8
281     Gp          1         4           1         6
282     Gp          4         2           2         8
283     Gp          2         4           2         8
284     Gp          2         4           1         7
285     Gp          2         3           1         6
286     Gp          3         3           1         7
287     Gp          3         3           1         7
288     Gp          3         2           1         6
289     Gp          2         4           1         7
290     Gp          2         3           1         6
291     Gp          3         2           1         6
292     Gp          2         4           1         7
293     Gp          4         1           2         7
294     Gp          3         4           2         9
295     Gp          1         4           1         6
296     Gp          2         3           2         7
297     Gp          2         4           2         8
298     Gp          4         3           1         8
299     Gp          1         4           1         6
300     Gp          2         2           1         5
301     Gp          1         1           2         4
302     Gp          3         3           2         8
303     Gp          4         2           1         7
304     Gp          2         4           1         7
305     Gp          2         4           1         7
306     Gp          1         5           1         7
307     Gp          1         3           2         6
308     Gp          2         5           1         8
309     Gp          2         4           1         7
310     Gp          2         2           1         5
311     Gp          2         4           3         9
312     Gp          2         5           1         8
313     Gp          2         2           2         6
314     Gp          3         1           1         5
315     Gp          3         1           1         5
316     Gp          2         3           2         7
317     Gp          3         3           1         7
318     Gp          3         3           1         7
319     Gp          2         4           1         7
320     Gp          2         2           1         5
321     Gp          2         2           1         5
322     Gp          3         3           1         7
323     Gp          3         4           1         8
324     Gp          3         3           2         8
325     Gp          3         3           1         7
326     Gp          1         3           1         5
327     Gp          1         4           4         9
328     Gp          3         4           1         8
329     Gp          3         3           2         8
330     Gp          4         5           1        10
331     Gp          3         4           1         8
332     Gp          2         3           1         6
333     Gp          2         3           1         6
334     Gp          4         4           2        10
335     Gp          3         4           1         8
336     Gp          3         4           1         8
337     Gp          2         3           1         6
338     Gp          4         3           1         8
339     Gp          2         3           1         6
340     Gp          3         3           1         7
341     Gp          2         3           1         6
342     Gp          2         3           1         6
343     Gp          2         3           1         6
344     Gp          3         3           1         7
345     Gp          3         4           1         8
346     Gp          3         3           1         7
347     Gp          3         4           1         8
348     Gp          3         4           1         8
349     Ms          1         5           2         8
350     Ms          2         4           3         9
351     Ms          2         5           2         9
352     Ms          1         3           1         5
353     Ms          1         4           3         8
354     Ms          2         5           2         9
355     Ms          2         3           1         6
356     Ms          2         3           2         7
357     Ms          2         2           2         6
358     Ms          1         3           2         6
359     Ms          3         3           2         8
360     Ms          2         3           3         8
361     Ms          2         4           2         8
362     Ms          2         3           2         7
363     Ms          2         3           1         6
364     Ms          2         2           2         6
365     Ms          2         3           2         7
366     Ms          3         2           2         7
367     Ms          1         2           3         6
368     Ms          1         2           2         5

### Шаг 10. Выведите последние элементы датафрейма.

In [86]:
print(df.tail())

    school sex  age address famsize Pstatus  Medu  Fedu      Mjob      Fjob  \
390     Ms   M   20       U     Le3       A     2     2  SERVICES  SERVICES
391     Ms   M   17       U     Le3       T     3     1  SERVICES  SERVICES
392     Ms   M   21       R     Gt3       T     1     1     OTHER     OTHER
393     Ms   M   18       R     Le3       T     3     2  SERVICES     OTHER
394     Ms   M   19       U     Le3       T     1     1     OTHER   AT_HOME

     reason guardian  traveltime  studytime  failures schoolsup famsup paid  \
390  Course    Other           1          2         2        No    Yes  Yes
391  Course   Mother           2          1         0        No     No   No
392  Course    Other           1          1         3        No     No   No
393  Course   Mother           3          1         0        No     No   No
394  Course   Father           1          1         0        No     No   No

    activities nursery higher internet romantic  famrel  freetime  goout  \
390         No     Yes    Yes       No       No       5         5      4
391         No      No    Yes      Yes       No       2         4      5
392         No      No    Yes       No       No       5         5      3
393         No      No    Yes      Yes       No       4         4      1
394         No     Yes    Yes      Yes       No       3         2      3

     Dalc  Walc  health  absences  G1  G2  G3
390     4     5       4        11   9   9   9
391     3     4       2         3  14  16  16
392     3     3       3         3  10   8   7
393     3     4       5         0  11  12  10
394     3     3       5         5   8   9   9

### Шаг 11. Заметили, что в изначальном датафрейме все равно маленькие буквы? Почему? Исправьте колонки Mjob и Fjob.

In [87]:
df['Mjob'] = df['Mjob'].str.lower()
df['Fjob'] = df['Fjob'].str.lower()
print(df.head(3))

  school sex  age address famsize Pstatus  Medu  Fedu     Mjob     Fjob  \
0     Gp   F   18       U     Gt3       A     4     4  at_home  teacher
1     Gp   F   17       U     Gt3       T     1     1  at_home    other
2     Gp   F   15       U     Le3       T     1     1  at_home    other

   reason guardian  traveltime  studytime  failures schoolsup famsup paid  \
0  Course   Mother           2          2         0       Yes     No   No
1  Course   Father           1          2         0        No    Yes   No
2   Other   Mother           1          2         3       Yes     No  Yes

  activities nursery higher internet romantic  famrel  freetime  goout  Dalc  \
0         No     Yes    Yes       No       No       4         3      4     1
1         No      No    Yes      Yes       No       5         3      3     1
2         No     Yes    Yes      Yes       No       4         3      2     2

   Walc  health  absences  G1  G2  G3
0     1       3         6   5   6   6
1     1       3         4   5   5   6
2     3       3        10   7   8  10

### Шаг 12 Создайте колонку legal_drinker булевого типа, которая показывает, что человеку 18 лет или больше.
Используй метод apply

In [88]:
df['legal_drinker'] = df['age'].apply(lambda x: x >= 18)
print(df.head(3))

  school sex  age address famsize Pstatus  Medu  Fedu     Mjob     Fjob  \
0     Gp   F   18       U     Gt3       A     4     4  at_home  teacher
1     Gp   F   17       U     Gt3       T     1     1  at_home    other
2     Gp   F   15       U     Le3       T     1     1  at_home    other

   reason guardian  traveltime  studytime  failures schoolsup famsup paid  \
0  Course   Mother           2          2         0       Yes     No   No
1  Course   Father           1          2         0        No    Yes   No
2   Other   Mother           1          2         3       Yes     No  Yes

  activities nursery higher internet romantic  famrel  freetime  goout  Dalc  \
0         No     Yes    Yes       No       No       4         3      4     1
1         No      No    Yes      Yes       No       5         3      3     1
2         No     Yes    Yes      Yes       No       4         3      2     2

   Walc  health  absences  G1  G2  G3  legal_drinker
0     1       3         6   5   6   6           True
1     1       3         4   5   5   6          False
2     3       3        10   7   8  10          False

### Шаг 13. Умножьте каждое число в датасете на 10.
##### тайного смысла в этом нет, это просто упражнение ^_^

In [89]:
df.loc[:, df.select_dtypes(include=['int64', 'float64']).columns] *= 10

print(df.head(3))

  school sex  age address famsize Pstatus  Medu  Fedu     Mjob     Fjob  \
0     Gp   F  180       U     Gt3       A    40    40  at_home  teacher
1     Gp   F  170       U     Gt3       T    10    10  at_home    other
2     Gp   F  150       U     Le3       T    10    10  at_home    other

   reason guardian  traveltime  studytime  failures schoolsup famsup paid  \
0  Course   Mother          20         20         0       Yes     No   No
1  Course   Father          10         20         0        No    Yes   No
2   Other   Mother          10         20        30       Yes     No  Yes

  activities nursery higher internet romantic  famrel  freetime  goout  Dalc  \
0         No     Yes    Yes       No       No      40        30     40    10
1         No      No    Yes      Yes       No      50        30     30    10
2         No     Yes    Yes      Yes       No      40        30     20    20

   Walc  health  absences  G1  G2   G3  legal_drinker
0    10      30        60  50  60   60           True
1    10      30        40  50  50   60          False
2    30      30       100  70  80  100          False

### Шаг 14. Сбрось все настройки интерфейса (4 шаг)

In [73]:
%reset -f

### Шаг 15*. Закодируйте все категориальные признаки
В рамках концепции машинного обучения, отдельным этапом предобработки данных служит кодирование категориальных признаков, т.к при обучении моделей мы не можем использовать текст(все признаки отличные от типов float и int).  
Любой текст мы должны преобразовывать в числа

https://alexanderdyakonov.wordpress.com/2016/08/03/python-категориальные-признаки/

In [90]:
df = pd.get_dummies(df, columns=['school', 'sex', 'address', 'famsize', 'Pstatus', 'Mjob', 'Fjob', 'reason', 'guardian', 'schoolsup', 'famsup', 'paid', 'activities', 'nursery', 'higher', 'internet', 'romantic'], drop_first=True)
print(df.head(3))

   age  Medu  Fedu  traveltime  studytime  failures  famrel  freetime  goout  \
0  180    40    40          20         20         0      40        30     40
1  170    10    10          10         20         0      50        30     30
2  150    10    10          10         20        30      40        30     20

   Dalc  Walc  health  absences  G1  G2   G3  legal_drinker  school_Ms  sex_M  \
0    10    10      30        60  50  60   60           True      False  False
1    10    10      30        40  50  50   60          False      False  False
2    20    30      30       100  70  80  100          False      False  False

   address_U  famsize_Le3  Pstatus_T  Mjob_health  Mjob_other  Mjob_services  \
0       True        False      False        False       False          False
1       True        False       True        False       False          False
2       True         True       True        False       False          False

   Mjob_teacher  Fjob_health  Fjob_other  Fjob_services  Fjob_teacher  \
0         False        False       False          False          True
1         False        False        True          False         False
2         False        False        True          False         False

   reason_Home  reason_Other  reason_Reputation  guardian_Mother  \
0        False         False              False             True
1        False         False              False            False
2        False          True              False             True

   guardian_Other  schoolsup_Yes  famsup_Yes  paid_Yes  activities_Yes  \
0           False           True       False     False           False
1           False          False        True     False           False
2           False           True       False      True           False

   nursery_Yes  higher_Yes  internet_Yes  romantic_Yes
0         True        True         False         False
1        False        True          True         False
2         True        True          True         False