# Создание и редактирование таблиц

# Рынок жилья

### Создадим датасет сами

### Шаг 1. Импортируем библиотеки

In [31]:
import pandas as pd # pandas для обработки и анализа табличных данных
import numpy as np  # numpy для удобного хранения данных и мат вычислений

### Шаг 2. Сделаем 4 разных Series длины 100:
1. Случайные числа от 1 до 4
2. Случайные числа от 1 до 3
3. Случайные числа от 10 до 300
4. Случайные числа от 100_000 до 3_000_000

Для создания используй библиотеку numpy

In [32]:
np.random.seed(42)

series1 = pd.Series(np.random.randint(1, 4, size=100))
series2 = pd.Series(np.random.randint(1, 3, size=100))
series3 = pd.Series(np.random.randint(10, 300, size=100))
series4 = pd.Series(np.random.randint(100_000, 3_000_000, size=100))


print("Series 1:")
print(series1.head())
print("\nSeries 2:")
print(series2.head())
print("\nSeries 3:")
print(series3.head())
print("\nSeries 4:")
print(series4.head())

Series 1:
0    3
1    1
2    3
3    3
4    1
dtype: int64

Series 2:
0    2
1    2
2    2
3    1
4    1
dtype: int64

Series 3:
0    240
1    199
2    234
3    292
4    130
dtype: int64

Series 4:
0     718467
1    1238848
2    2235619
3     977844
4     580047
dtype: int64

### Шаг 3. Сделаем датафрейм из этих колонок

In [33]:
df = pd.DataFrame({
    'Series 1': series1,
    'Series 2': series2,
    'Series 3': series3,
    'Series 4': series4
})
df.head()

   Series 1  Series 2  Series 3  Series 4
0         3         2       240    718467
1         1         2       199   1238848
2         3         2       234   2235619
3         3         1       292    977844
4         1         1       130    580047

### Шаг 4. Назовите колонки 
bedrs (комнаты), baths (ванные), square (площадь), price (стоимость)

In [34]:
df = pd.DataFrame({
    'berds (комнаты)': series1,
    'baths (ванные)': series2,
    'square (площадь)': series3,
    'price (стоимость)': series4
})
df.head()

   berds (комнаты)  baths (ванные)  square (площадь)  price (стоимость)
0                3               2               240             718467
1                1               2               199            1238848
2                3               2               234            2235619
3                3               1               292             977844
4                1               1               130             580047

### Шаг 5. Создайте новый признак/колонку - price_sqr_meter (цена за метр) 
Объедините информацию из square (площадь), price (стоимость)

In [35]:
df['price_sqr_meter (цена за ментр)'] = df['price (стоимость)'] / df['square (площадь)']

### Шаг 6. Удалите 2 колонки square (площадь), price (стоимость)

In [36]:
del df['price (стоимость)']
del df['square (площадь)']

### Шаг 7. Проверьте датасет на дубликаты, в случае наличия - удалите

In [37]:
duplicates = df.duplicated()
num_duplicates = duplicates.sum()

print(f'Колличество дубликатов: {num_duplicates}')

if num_duplicates > 0:
    df.drop_duplicates(inplace=True)
    print("Дубликаты удалены.")

Колличество дубликатов: 0

### Шаг 8. Сделайте один длинный датафрейм bigcolumn из 4 объектов Series шага 2 с одной колонкой

In [38]:
bigcolmn = pd.concat([series1, series2, series3, series4], ignore_index=True)

bigcolmn.head()
print(bigcolmn)

0            3
1            1
2            3
3            3
4            1
        ...
395    2902238
396    1799005
397    1854236
398     384821
399     155609
Length: 400, dtype: int64

### Шаг 9. Кажется, индекс идет только до 99. Проверим?

In [39]:
print(df.index)

RangeIndex(start=0, stop=100, step=1)

### Шаг 10. Реиндексируйте датафрейм

In [40]:
df.reset_index(drop=True, inplace=True)