# Объединения и группировки

При решении задач из данного ноутбука можешь воспользоваться этим сайтом.  
Pandas Tutor визуализирует преобразования датафреймов  
https://pandastutor.com/

# Рынок машин

### Шаг 1. Импортируй библиотеки

### Шаг 2. Задай настройку интерфейса
### Ограничь возможность вывода у значений типа float до 2 знаков после запятой

### Шаг 3. Прочитай датафреймы в 2 переменные data1 и data2

In [98]:
# Файлы cars_part1.xlsx и cars_part2.xlsx
# Обрати внимание на столбец Unnamed: 0 при чтении файлов - укажи доп. гиперпараметр чтобы его не было

In [97]:
pd.read_excel('cars_part1.xlsx')

,Unnamed: 0,Car_ID,Brand,Body_Style,Drive_Type,Year,Price,Fuel_Efficiency
0,0,1,Tesla,Sedan,Rear-Wheel Drive,2017,78075,34.36
1,1,2,Honda,Coupe,Front-Wheel Drive,2013,50942,32.64
2,2,3,Toyota,Sedan,All-Wheel Drive,2019,39114,33.64
3,3,4,Nissan,SUV,Rear-Wheel Drive,2021,53220,15.43
4,4,5,Mercedes,Convertible,Front-Wheel Drive,2021,72133,34.59
...,...,...,...,...,...,...,...,...
1628,1628,1629,Mercedes,Convertible,All-Wheel Drive,2016,29507,31.16
1629,1629,1630,Volkswagen,Coupe,All-Wheel Drive,2012,26795,24.07
1630,1630,1631,Mercedes,Coupe,Front-Wheel Drive,2014,21024,28.64
1631,1631,1632,Volkswagen,Sedan,Rear-Wheel Drive,2015,33466,22.96
1632,1632,1633,Ford,Convertible,Rear-Wheel Drive,2013,72465,32.91

### Шаг 4. Объедини 2 датафрейма, сохрани новый в переменной df

### Шаг 5. Сгруппируй данные по марке автомобиля и посмотри на общее кол-во, стоимость, среднюю и медианную стоимость машин в каждой группе

### Шаг 6. 
### 1) Напиши функцию (def или lambda), которая показывает разброс между минимальным и максимальным значением
### 2) Посмотри как изменялся разброс цены от года к году в динамике (используй функцию из шага 1)

### Шаг 7. Сильно ли отличается разброс цен между автоматической и ручной коробками передач? А средняя лошадиная сила?
Ответь сразу на 2 вопроса сделав группировку по Transmission  
При агрегации используй:
- tuple вместо списка
- Price - назови price_range
- Horsepower - назови horsepower_mean

### Шаг 8. Посчитай сколько автомобилей с разным видом кузова есть у каждой марки
Используй crosstab

### Шаг 9. Посмотри как изменялась средняя цена автомобилей каждой марки по годам
Используй pivot_table

### Шаг 10*. Создай новый признак - средняя стоимость марки автомобиля за год
groupby + merge

### Шаг 11*. Снова создай этот же признак. В этот раз используй связку groupby + transform

In [ ]:
# https://dfedorov.spb.ru/pandas/Понимание%20функции%20transform%20в%20Pandas.html