# Ирисы

### Один из самых часто используемых датасетов - познакомьтесь с ним поближе

### Шаг 1. Импортируем библиотеки.

In [31]:
import pandas as pd 
import numpy as np

### Шаг 2. Импортируем датасет
Забираем датасет из папки datasets/iris.json

In [32]:
iris = pd.read_json('/home/vlad/ds/pandas/datasets/iris.json')

print(iris.head())

   5.1  3.5  1.4  0.2  Iris-setosa
0  4.9  3.0  1.4  0.2  Iris-setosa
1  4.7  3.2  1.3  0.2  Iris-setosa
2  4.6  3.1  1.5  0.2  Iris-setosa
3  5.0  3.6  1.4  0.2  Iris-setosa
4  5.4  3.9  1.7  0.4  Iris-setosa

/tmp/ipykernel_210228/4062654520.py:1: FutureWarning: The behavior of 'to_datetime' with 'unit' when parsing strings is deprecated. In a future version, strings will be parsed as datetime strings, matching the behavior without a 'unit'. To retain the old behavior, explicitly cast ints or floats to numeric type before calling to_datetime.
  iris = pd.read_json('/home/vlad/ds/pandas/datasets/iris.json')
/tmp/ipykernel_210228/4062654520.py:1: FutureWarning: The behavior of 'to_datetime' with 'unit' when parsing strings is deprecated. In a future version, strings will be parsed as datetime strings, matching the behavior without a 'unit'. To retain the old behavior, explicitly cast ints or floats to numeric type before calling to_datetime.
  iris = pd.read_json('/home/vlad/ds/pandas/datasets/iris.json')
/tmp/ipykernel_210228/4062654520.py:1: FutureWarning: The behavior of 'to_datetime' with 'unit' when parsing strings is deprecated. In a future version, strings will be parsed as datetime strings, matching the behavior without a 'unit'. To retain the old behavior, explicitly cast ints or floats to numeric type before calling to_datetime.
  iris = pd.read_json('/home/vlad/ds/pandas/datasets/iris.json')

### Шаг 3. Записываем его в переменную iris.
Обрати внимание на название колонок

In [33]:
print(iris.columns.tolist())

['5.1', '3.5', '1.4', '0.2', 'Iris-setosa']

### Шаг 4. Создайте дополнительные колонки.

In [34]:
# 1. sepal_length (in cm)
# 2. sepal_width (in cm)
# 3. petal_length (in cm)
# 4. petal_width (in cm)
# 5. class
iris.columns = ['sepal_length', 'sepal_width', 'petal_length', 'petal_width', 'class']


print(iris.head())

   sepal_length  sepal_width  petal_length  petal_width        class
0           4.9          3.0           1.4          0.2  Iris-setosa
1           4.7          3.2           1.3          0.2  Iris-setosa
2           4.6          3.1           1.5          0.2  Iris-setosa
3           5.0          3.6           1.4          0.2  Iris-setosa
4           5.4          3.9           1.7          0.4  Iris-setosa

### Шаг 5. Есть ли пропущенные значения?

In [35]:
missing_values = iris.isnull().sum()
print(missing_values)

sepal_length    0
sepal_width     0
petal_length    0
petal_width     0
class           0
dtype: int64

### Шаг 6. Зададим значение NaN для строк с 10 по 29 колонки 'petal_length'

In [36]:
iris.loc[10:29, 'petal_length'] = None
print(iris.loc[5:35])

    sepal_length  sepal_width  petal_length  petal_width        class
5            4.6          3.4           1.4          0.3  Iris-setosa
6            5.0          3.4           1.5          0.2  Iris-setosa
7            4.4          2.9           1.4          0.2  Iris-setosa
8            4.9          3.1           1.5          0.1  Iris-setosa
9            5.4          3.7           1.5          0.2  Iris-setosa
10           4.8          3.4           NaN          0.2  Iris-setosa
11           4.8          3.0           NaN          0.1  Iris-setosa
12           4.3          3.0           NaN          0.1  Iris-setosa
13           5.8          4.0           NaN          0.2  Iris-setosa
14           5.7          4.4           NaN          0.4  Iris-setosa
15           5.4          3.9           NaN          0.4  Iris-setosa
16           5.1          3.5           NaN          0.3  Iris-setosa
17           5.7          3.8           NaN          0.3  Iris-setosa
18           5.1          3.8           NaN          0.3  Iris-setosa
19           5.4          3.4           NaN          0.2  Iris-setosa
20           5.1          3.7           NaN          0.4  Iris-setosa
21           4.6          3.6           NaN          0.2  Iris-setosa
22           5.1          3.3           NaN          0.5  Iris-setosa
23           4.8          3.4           NaN          0.2  Iris-setosa
24           5.0          3.0           NaN          0.2  Iris-setosa
25           5.0          3.4           NaN          0.4  Iris-setosa
26           5.2          3.5           NaN          0.2  Iris-setosa
27           5.2          3.4           NaN          0.2  Iris-setosa
28           4.7          3.2           NaN          0.2  Iris-setosa
29           4.8          3.1           NaN          0.2  Iris-setosa
30           5.4          3.4           1.5          0.4  Iris-setosa
31           5.2          4.1           1.5          0.1  Iris-setosa
32           5.5          4.2           1.4          0.2  Iris-setosa
33           4.9          3.1           1.5          0.1  Iris-setosa
34           5.0          3.2           1.2          0.2  Iris-setosa
35           5.5          3.5           1.3          0.2  Iris-setosa

### Шаг 7. Отлично, теперь заменим NaN на 1.0

In [37]:
iris.fillna(1.0, inplace=True)
print(iris.loc[5:35])

    sepal_length  sepal_width  petal_length  petal_width        class
5            4.6          3.4           1.4          0.3  Iris-setosa
6            5.0          3.4           1.5          0.2  Iris-setosa
7            4.4          2.9           1.4          0.2  Iris-setosa
8            4.9          3.1           1.5          0.1  Iris-setosa
9            5.4          3.7           1.5          0.2  Iris-setosa
10           4.8          3.4           1.0          0.2  Iris-setosa
11           4.8          3.0           1.0          0.1  Iris-setosa
12           4.3          3.0           1.0          0.1  Iris-setosa
13           5.8          4.0           1.0          0.2  Iris-setosa
14           5.7          4.4           1.0          0.4  Iris-setosa
15           5.4          3.9           1.0          0.4  Iris-setosa
16           5.1          3.5           1.0          0.3  Iris-setosa
17           5.7          3.8           1.0          0.3  Iris-setosa
18           5.1          3.8           1.0          0.3  Iris-setosa
19           5.4          3.4           1.0          0.2  Iris-setosa
20           5.1          3.7           1.0          0.4  Iris-setosa
21           4.6          3.6           1.0          0.2  Iris-setosa
22           5.1          3.3           1.0          0.5  Iris-setosa
23           4.8          3.4           1.0          0.2  Iris-setosa
24           5.0          3.0           1.0          0.2  Iris-setosa
25           5.0          3.4           1.0          0.4  Iris-setosa
26           5.2          3.5           1.0          0.2  Iris-setosa
27           5.2          3.4           1.0          0.2  Iris-setosa
28           4.7          3.2           1.0          0.2  Iris-setosa
29           4.8          3.1           1.0          0.2  Iris-setosa
30           5.4          3.4           1.5          0.4  Iris-setosa
31           5.2          4.1           1.5          0.1  Iris-setosa
32           5.5          4.2           1.4          0.2  Iris-setosa
33           4.9          3.1           1.5          0.1  Iris-setosa
34           5.0          3.2           1.2          0.2  Iris-setosa
35           5.5          3.5           1.3          0.2  Iris-setosa

### Шаг 8. Удалим колонку class

In [38]:
iris = iris.drop(columns=['class'])
print(iris.head())

   sepal_length  sepal_width  petal_length  petal_width
0           4.9          3.0           1.4          0.2
1           4.7          3.2           1.3          0.2
2           4.6          3.1           1.5          0.2
3           5.0          3.6           1.4          0.2
4           5.4          3.9           1.7          0.4

### Шаг 9. Запишем NaN в первые 3 строки (во все колонки)

In [39]:
iris.iloc[:3] = None
print(iris.head())

   sepal_length  sepal_width  petal_length  petal_width
0           NaN          NaN           NaN          NaN
1           NaN          NaN           NaN          NaN
2           NaN          NaN           NaN          NaN
3           5.0          3.6           1.4          0.2
4           5.4          3.9           1.7          0.4

### Шаг 10. Удалим строки, в которых встречается NaN

In [40]:
iris = iris.dropna()
print(iris.head())

   sepal_length  sepal_width  petal_length  petal_width
3           5.0          3.6           1.4          0.2
4           5.4          3.9           1.7          0.4
5           4.6          3.4           1.4          0.3
6           5.0          3.4           1.5          0.2
7           4.4          2.9           1.4          0.2

### Шаг 11. Сбросим индекс - начнем его опять с 0.

In [41]:
iris.reset_index(drop=True, inplace=True)
print(iris.head())

   sepal_length  sepal_width  petal_length  petal_width
0           5.0          3.6           1.4          0.2
1           5.4          3.9           1.7          0.4
2           4.6          3.4           1.4          0.3
3           5.0          3.4           1.5          0.2
4           4.4          2.9           1.4          0.2

### Шаг 12. Бонус: Напишите свой вопрос и ответьте на него.

In [43]:
Почему нужно сбрасывать индексы после удаления строк?

Если этого не делать буде,о

SyntaxError: invalid syntax (2913588484.py, line 3)